/* Load the defaults from `<userDir>/node_modules/node-red-contrib-uibuilder/front-end/src/uib-styles.css` 
@import url("./uib-styles.css"); */

/*** DBG ***/

   /** /div, span,    /**/
   [dbg-outline] {
      border: dotted 1px rgb(255, 7, 255); 
   }
   /* space here->* /
   body > * > *,
   body > * > * > * > * > * > *{
      border: solid 1px red;
   }
   body > * > * > *,
   body > * > * > * > * > * > * > *{
      border: solid 1px green;
   }
   body > * > * > * > *,
   body > * > * > * > * > * > * > *{
      border: solid 1px darkturquoise;
   }
   body > * > * > * > * > *,
   body > * > * > * > * > * > * > * > * > *{
      border: solid 1px magenta;
   }
   /**/

/*** GENERAL ***/
   /* Cloak elements on initial load to hide the possible display of {{ ... }} 
   * Add to the app tag or to specific tags
   * [v-cloak] { display: none; }
   * To display "loading...", change to the following:
   *    [v-cloak] > * { display:none }
   *    [v-cloak]::before { content: "loading…"; }
   */
   [v-cloak] > * { display: none; }
   [v-cloak]::before { content: "loading…" }

   /* .img-fluid but based over container's height instead than width */
   .img-fluid-y {
      height: 100%;
      width:auto;
      max-width:100%;
   }
   ::root{
      /* --gigayellow:#dcb102; */
   }

   /* *, ::after, ::before {
      -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit * /
      -moz-box-sizing: border-box;    /* Firefox, other Gecko * /
      box-sizing: border-box;         /* Opera/IE 8+ * /
   }*/

   .disconnected-popup {
      width:30vw;
      margin-top:10vh;
      margin-left:35vw;
      text-align:center;
   }

   .relative-wrapper{
      position:relative;
   }

/*** NAVBAR ***/
   :root{
      --navbar-h: 40px;
      --appcontainer-h: calc(100vh - var(--navbar-h))}
   /*.mynavbar,
   .mynavbar *{
      padding:0px 0px 0px 0px;
      margin: 0px;
   }
   .mynavbar{
      display:content-box;
      width:100vw;
      padding:5px;
   }
   */
   .navbar .logo-container{
      box-sizing: border-box;
      background-color: transparent;
      margin: auto 0px auto 0px;
      height:50px;
      min-height:100%;
   }
   

/*** GRID ***/
   #app-body{
      --grid-gap:1vw;
   }
   .main-row:first-child { padding-top: var(--grid-gap); padding-bottom:calc(1/2 * var(--grid-gap)); }
   .main-row{
      height: 50%;
      width:100%;
      padding: calc(1/2 * var(--grid-gap)) 0 var(--grid-gap) var(--grid-gap);
      display:flex;
   }
   .main-col{
      /*display:inline-block;*/
      display:flex;
      flex-flow:column nowrap;
      justify-content: stretch;
      align-items: center;

      height:100%;
      width:calc(25% - var(--grid-gap));
      margin:0 var(--grid-gap) 0 0;
   }

   #app-body {
      background-color: var(--gray-300);
   }
/*** CELLS ***/
   /* template
      <div class="main-col">
         <div class="cell-header">
         <div class="label-container">
            <..>
         <div class="countdown-container">
            <..>
   */
   .main-col{
      color:var(--gray-100);
      box-shadow:0px 0px 5px 2px var(--gray-600);
      border: calc(1px) solid var(--gray-500);
   }
   .cell-header{
      width:90%;/*
      border: solid 1.5px black;
      box-shadow: inset -3px 0px 12px -3px var(--gray-600);
      border-radius:0 30% 30% 0;
      
      background-color: white;/**/
      margin: 0 auto 0 auto;
      text-align:center;
      font-size:12vh;
      line-height: 1;
      font-weight:bolder;
      max-height:12vh; /* rought estimate, avoids box diplacement due to wrong aspect ratio*/
      overflow:hidden;
   }

   /*** label-container ***/
      /* template
         <div class="label-container">
            <span class="prefix"> 'titolo'
            <span class="value"> '53.2'
            <span class="suffix"> 'unità/diMisura'
                  
      */
   
      .label-container {
         margin-top:3.5vh;
         padding:0.5vh;
         width:90%;
         max-height: 16vh;
         display: flex;
         flex-flow:row wrap;
         justify-content: center;
         align-items: flex-end;

         border: min(0.2vw, 0.4vh) solid white;
         border-radius:min(0.5vw, 1vh);
         text-align: center;
         vertical-align: middle;
         font-size:min(8vh,6vw);
         line-height: 1;
      }
      .label-container > * {
         margin-top:-1vh;
      }
      
      .label-container .prefix{
         flex:0 1 auto;
         width:100%;
         margin-top:-0.75em;

         font-size:min(4vh,3vw);
         font-weight:500;
         text-align:center;
      } 

      .label-container .prefix .bgr-box{
         width:fit-content;
         padding: 0 5%;
      }

      .label-container .value {
         font-size: 140%;
         font-weight: 500;
         margin-right:-0.9vw;
      }

      .label-container .suffix{
         align-self: flex-end;
      }

      

   /*** COUNTDOWN ***/
      /* template
         <div class="countdown-container">
            <div class="progress rounded-pill" >
               <relative-wrapper> //overlay clock with absolute
                  <div class="countdown-clock">
                     <span>18
                        <span>:40
               <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%">
                  
      */

      .countdown-container {
         width:100%;  margin-top:1vh;
      }
      .countdown-container .countdown-clock {
         width:fit-content; margin:0 auto ;
      }
      .countdown-container .countdown-clock > span {
         font-size:min(12vh,6vw);
      }
      .countdown-container .countdown-clock > span > span{
         font-size:60%;
      }
      .countdown-container .progress {
         height:12vh; width:80%; margin:10px auto 0px;
      }
      .countdown-container .progress .countdown-clock{
         line-height: 0.1em; color:black; 
         position:absolute; z-index:5; width: 18.3vw; /* prog width = f() of vw */ text-align:center; top:4.5vh; padding-left:1vw; font-weight: bold;
      }

/*** SIGNALS ***/
   .signal-noop{ /* aspetto all'avvio del server*/
      background-color: var(--gray-600);
   }
   .signal-A1{ /* chiamata */
      background-color: hsl(0, 72%, 50%);
   }
   .signal-A1.signal-A1-blinkoff{
     /* background-color: hsl(0, 72%, 65%);*/
     background-color: hsl(0, 86%, 28%);
   }

   .signal-A2{ /* presa in carico da area SMED */
      background-color: hsl(0, 72%, 50%);
   }

   .signal-A3{ /* avviamento */
      background-color: hsl(56, 86%, 53%);
      color:var(--gray-800);
   }
   .signal-A4{ /* timeout avviamento */
      color:var(--gray-800);
      background-color: hsl(56, 86%, 53%);
   }
   .signal-A4.signal-A4-blinkoff{
      color:var(--gray-800);
      background-color: hsl(54, 63%, 47%);
   }

   .signal-B{ /* run */
      background-color: hsl(120, 69%, 37%);
   }

   .signal-C1{ /* downtime */
      background-color: var(--gray-400);
      color: black;
   }

   .signal-C2{ /* manutenzione */
      background-color: hsl(206, 72%, 50%);
   }

   .signal-D{ /* scarto */
      background-color: purple;
   }

   .signal-E{ /* carrelli pronti in corsia */
      background-color: purple;
   }

/*** ADMIN ***/
   .action-box {

   }
   .action-box b-button {

   }
   :root .btn-info:disabled{
      background-color: gray;
   }
   .pillicon-button {
      font-size:2vh;
      text-align:left;
      position:relative;
      z-index:111;
      margin-top:0.375rem;
   }
   .pillicon-button.sub{
      position:absolute;
      z-index:110;
      top:0.5rem; /* match .btn-block margin */
   }
   .pillicon-button.sub > span:first-child{
     margin-right:1rem;
   }

   .pillicon-button > span:first-child{
      margin-left:-.375rem;
      border:0.2em solid transparent;
      border-radius:100%;
      background-color:white;
      color:black;
   }

   .pillicon-button.retracted {
      padding-right:.375rem;
      width:fit-content;
      /*margin-right:calc(1/4 * 24vw);*/
      background-color: var(--gray-600);
   }