<!doctype html>
<html lang="en"><head>
   <!-- meta tags -->
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">

   <title>nodered webapp by GigaPiù</title>
   <meta name="description" content="nodered webapp by GigaPiù">

    <!-- icons --><!-- prepared with https://realfavicongenerator.net -->
   <link rel="apple-touch-icon" sizes="180x180" href="common/favicons/apple-touch-icon.png"> 
   <link rel="icon" type="image/png" sizes="32x32" href="common/favicons/favicon-32x32.png">
   <link rel="icon" type="image/png" sizes="16x16" href="common/favicons/favicon-16x16.png">
   <link rel="manifest" href="common/favicons/site.webmanifest">
   <link rel="mask-icon" href="common/favicons/safari-pinned-tab.svg" color="#5bbad5">
   <link rel="shortcut icon" href="common/favicons/favicon.ico">
   <meta name="msapplication-TileColor" content="#da532c">
   <meta name="msapplication-config" content="common/favicons/browserconfig.xml">
   <meta name="theme-color" content="#ffffff">

   <!-- stylesheets -->
   <link type="text/css" rel="stylesheet" href="../uibuilder/vendor/bootstrap/dist/css/bootstrap.min.css" />
   <link type="text/css" rel="stylesheet" href="./bootstrap-vue-with-overrides.css" />
   <!--link type="text/css" rel="stylesheet" href="../uibuilder/vendor/bootstrap-vue/dist/bootstrap-vue.css" /--> 
   <!--<link type="text/css" rel="stylesheet" href="../uibuilder/vendor/@fortawesome/fontawesome-free/css/all.css"> <!-- https://fontawesome.com/docs/web/setup/host-yourself/webfonts#reference-font-awesome-in-your-project  -->
   <link type="text/css" rel="stylesheet" href="../uibuilder/vendor/three-dots/dist/three-dots.min.css"> <!-- https://codepen.io/nzbin/pen/GGrXbp -->
    <!-- Your own CSS -->
   <link type="text/css" rel="stylesheet" href="./index.css" media="all">
   <script type="text/javascript" src="./live.js_edited.js"> /*auto-refresh page on js/html changes. periodically sends HEAD req to the server. good for dbg. //added null type logging at :141 and exceptions catching */</script> <!--https://stackoverflow.com/questions/5588658/auto-reload-browser-when-i-save-changes-to-html-file-in-chrome-->
   
</head>
<style>
   #dbg-data-container{
      position:absolute;
      top:10vh;
      right:0px;
      width:100vw;
   }
   .dbg-data-container *{
      width:40%;
      margin:0 auto;
      border-color:2px solid gray;
      background-color:white;
   }

</style>
<body>
   <div id="app" class="uib" v-cloak>  <!-- All UI code needs to be in here -->

      <!-- disconnection popup overlay -->
      <div v-show="!socketConnectedState" style="width:100vw; height:100vh; background-color: hsla(0, 0%, 0%, 0.50); position:absolute; z-index:999;" onclick="noOp()">
         <div class="alert alert-danger disconnected-popup">
            nessuna connessione al server    
         </div>
         <div class="alert alert-light disconnected-popup" style="margin-top:10px; position:relative">
            tentativo di riconnessione.. <div style="position:absolute; right:5vw; top:calc(1px + 12px + 10px/2)"><div class="dot-windmill"></div></div>
         </div>
      </div>
      
      <!-- NAVBAR HEADER -->
      <div style="width:100%;">
         <div style="padding:5px 0px 2px; height:calc(var(--navbar-h) - 6px); width:100%">
            <div class="logo-container rounded-pill" style="height:100%; width:fit-content; margin:auto auto; padding: 2px 30px;">
               <a href="http://gigapiu.it/"><img class="img-fluid-y" src="common/images/logoGigapiu.transp.png" alt="GIGAPIU LOGO" /></a>
            </div>
         </div>

         <div class="bg-gigayellow" style="border: none; height:4px; width:100%; margin-top: 2px;"></div>
      </div>

      <!-- APP BODY -->
      <div id="app-body" style="height:var(--appcontainer-h)">
         <!--template v-for="i in 2">
            <div class="main-row">
               <template v-for="j in 4">
                  <div class="main-col signal-noop" v-bind:id="'r'+i+'c'+j">
                     <div class="cell-header">
                        Linea MO41
                     </div>
                     <div class="countdown-container">
                        <div class="countdown-clock" >
                           <span>18<span>:40</span></span>
                        </div>
                        <div class="progress rounded-pill">
                           <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" ></div>
                        </div>
                     </div>
                  </div>
               </template>
            </div>
         </template-->

         <!-- working with components -->
         <template v-for="(row, i) in CELLS_LAYOUT">
            <div class="main-row">
               <template v-for="(mKey, j) in row">
                  <signal-cell v-if="!CELLS_VIEW[i][j]"  class="main-col" :machine-name="signalCells[mKey].machineName" :signal-key="signalCells[mKey].signalKey" :timer-length="signalCells[mKey].cd.timerLength" :remaining-ms="signalCells[mKey].cd.remainingMs" :end="signalCells[mKey].cd.end">
                     
                  </signal-cell>
                  <admin-cell v-else                     class="main-col" :machine-name="signalCells[mKey].machineName" :signal-key="signalCells[mKey].signalKey" :timer-length="signalCells[mKey].cd.timerLength" :remaining-ms="signalCells[mKey].cd.remainingMs" :end="signalCells[mKey].cd.end" @action-button-click="sendToServery('event','cellButtonClick',{cellRow:i,cellCol:j,actionId:$event.actionId})" >
                     
                  </admin-cell>
               </template>
            </div>
         </template> <!-- -->
         
         <!--router-view style="border:solid 2px red"/-->
      </div>
      
      <!-- ######### END PAGE ########## -->
      <div style="display:none; position:absolute; top:100vh; left:0px"> <!-- dbg stuff, templates mostly -->
         <b-container>
            <b-img src="./images/node-blue-192x192.png" rounded left v-bind="imgProps" alt="Blue Node-RED" class="mt-1 mr-2"></b-img>
            <h1>uibuilder + Vue.js + bootstrap-vue for Node-RED</h1>
            <p>
                This is a uibuilder example using <a href="https://vuejs.org/">Vue.js</a> as a front-end library.
                See the
                <a
                    href="https://github.com/TotallyInformation/node-red-contrib-uibuilder">node-red-contrib-uibuilder</a>
                README for details on how to use UIbuilder.
            </p>

            
            <b-card>
                <h3 slot="header">Simple input using Vue</h3>
                
                Simplest possible way of getting event information back to Node-RED using a uibuilder helper function.
                The method works with any DOM event. Demonstrated here with a simple button click.
                
                <p class="mt-1 pb-3">
                    <b-button id="myButton1" @click="doEvent" data-something="hello">Send Something To Node-RED</b-button>
                </p>

                <b-form class="border p-3">
                    <p>
                        You can also very simply create a form like this using Vue & bootstrap-vue.
                        The form sends data back to Node-RED.
                        Look at the <code>increment</code> method in <code>index.js</code> to see how easy this is.
                    </p>

                    <p>
                        <b-form-input v-model="inputText" type="text" placeholder="Enter some text to send to Node-RED"></b-form-input><br>
                        <b-form-checkbox v-model="inputChkBox">
                            To tick or not to tick? That is the question
                        </b-form-checkbox><br>
                        <b-button id="btn_increment" pill variant="primary" v-on:click="increment">Increment</b-button>
                            &nbsp;&nbsp;Click Counter: <b>{{counterBtn}}</b>.
                        <p>Click on the button to increment the counter. It sends the data dynamically back to Node-RED as well.</p>
                    </p>
                </b-form>
            </b-card>
            
            <h2>Dynamic Data</h2>
            <div>
                <p>Uses Vue to dynamically update in response to messages from Node-RED.</p>
                <p>
                    Check out the <code>mounted</code> function in <code>index.js</code> to See
                    how easy it is to update Vue data from Node-RED.
                </p>

                  <b-card class="mt-3" header="Status" border-variant="info" header-bg-variant="info" header-text-variant="white" align="center" >
                     <p class="float-left">Socket.io Connection Status: <b>{{socketConnectedState}}</b></p>
                     <p class="float-right">Time offset between browser and server: <b>{{serverTimeOffset}}</b> hours</p>
                  </b-card>

                <b-card class="mt-3" header="Normal Messages" border-variant="primary" header-bg-variant="primary" header-text-variant="white" align="left" >
                    <p>
                        Messages: Received=<b>{{msgsReceived}}</b>, Sent=<b>{{msgsSent}}</b>
                    </p>
                    <pre v-html="hLastRcvd" class="syntax-highlight"></pre>
                    <pre v-html="hLastSent" class="syntax-highlight"></pre>
                    <p slot="footer" class="mb-0">
                        The received message is from the input to the uibuilder node.
                        The send message will appear out of port #1 of the node.
                    </p>
                </b-card> 

                <b-card class="mt-3" header="Control Messages" border-variant="secondary" header-bg-variant="secondary" header-text-variant="white" align="left" >
                    <p>
                        Control Messages: Received=<b>{{msgsControl}}</b>, Sent=<b>{{msgsCtrlSent}}</b>
                    </p>
                    <pre v-html="hLastCtrlRcvd" class="syntax-highlight"></pre>
                    <pre v-html="hLastCtrlSent" class="syntax-highlight"></pre>
                    <p slot="footer" class="mb-0">
                        Control messages always appear out of port #2 of the uibuilder node
                        whether they are from the server or the client. The <code>from</code> property
                        of the message tells you where it came from.
                    </p>
                </b-card>
            </div>

         </b-container>
      </div> <!-- dbg template -->
   </div> <!-- app -->

   <!-- #region Supporting Scripts. These MUST be in the right order. Note no leading / -->
       <!-- DEFAULT -->
      <script type="text/javascript" src="../uibuilder/vendor/socket.io/socket.io.js">/* REQUIRED: Socket.IO is loaded only once for all instances. Without this, you don't get a websocket connection */</script>
       <!-- Vendor Libraries - Load in the right order, use minified, production versions for speed -->
      <!--script src="../uibuilder/vendor/vue/dist/vue.min.js">/* prod version with component compiler */</script-->
      <script type="text/javascript" src="../uibuilder/vendor/vue/dist/vue.js">/* dev version with component compiler */</script>
      <!--script src="../uibuilder/vendor/vue/dist/vue.runtime.min.js">/* prod version without component compiler */</script-->
      <script type="text/javascript" src="../uibuilder/vendor/bootstrap-vue/dist/bootstrap-vue.js">/* remove 'min.' to use dev version */</script>
      <script type="text/javascript" src="../uibuilder/vendor/bootstrap-vue/dist/bootstrap-vue-icons.min.js">/* icons */</script>
      
      <script type="text/javascript" src="./uibuilderfe.min.js">/* REQUIRED: remove 'min.' to use dev version */</script>
       <!-- EXTRA -- >
      <script src="../uibuilder/vendor/jquery/dist/jquery.min.js">/* boostrap dependency*/</script>
      <script src="../uibuilder/vendor/bootstrap/dist/js/bootstrap.min.js">/* CAUTION use bootstrap vue for DOM-altering features (almost everything) //grid system is ok */</script>
       <!-- MODULES -->
      <!--script src="../uibuilder/vendor/chart.js/dist/chart.umd.js"> /* opensource lib for graph rendering //useful website:https://quickchart.io/ */</script-- >
      <script src="../uibuilder/vendor/chart.js/dist/chart.bundle.js"> /* opensource lib for graph rendering //useful website:https://quickchart.io/ */</script>
      <script src="../uibuilder/vendor/justgage/raphael.min.js">  /* justgage dependency  */ </script> 
      <script src="../uibuilder/vendor/justgage/dist/justgage.min.js"> /* free pure-svg lib for gauges rendering //useful website:https://toorshia.github.io/justgage/ //https://github.com/toorshia/justgage */ </script>
       <!-- PAGE-BOUND JS -->
      <script type="text/javascript" src="./functions.js">/* function definition only */</script>
      <script type="text/javascript" src="./app.js">/* Vue App + document load hooks */</script> 
   <!-- #endregion -->

</body>
</html>